@{
    Layout = null;
    HttpContext.Current.Items["ext.net.mvc.example"] = true;
}

<!DOCTYPE html>

<html>
<head>
    @RenderSection("meta", false)
    <title>@ViewBag.Title</title>
    @RenderSection("headtag", false)
</head>
<body>
      @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig)
      @RenderSection("example", true)
</body>
</html>
