@{
    ViewBag.Title = "HyperlinkButton Control Variations - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section example
{
    <h2>Simple HyperlinkButton</h2>

    @(X.HyperlinkButton()
        .Text("Click")
        .OnClientClick("Ext.Msg.alert('Clicked', 'HyperlinkButton');")
    )

    <h2>HyperlinkButton with Icon and Click DirectEvent</h2>

    @(X.HyperlinkButton()
        .Icon(Icon.Accept)
        .Text("Click")
        .DirectEvents(de =>
            de.Click.Url = Url.Action("Button_Click")
        )
    )

    <h2>HyperlinkButton with Right Aligned Icon</h2>

    @(X.HyperlinkButton()
       .Icon(Icon.Accept)
       .IconAlign(IconAlign.Right)
       .Text("Click")
    )

    <h2>HyperlinkButton with Menu</h2>

    @(X.HyperlinkButton()
       .Icon(Icon.Accept)
       .IconAlign(IconAlign.Right)
       .Text("Click")
       .Menu(X.Menu()
              .Items(
                  X.MenuItem()
                   .Text("Add")
                   .Icon(Icon.Add),
                  X.MenuItem()
                   .Text("Accept")
                   .Icon(Icon.Accept)
           )
       )
    )

    <h2>HyperlinkButton in a ToggleGroup</h2>

    @(X.HyperlinkButton()
       .Icon(Icon.GroupAdd)
       .Text("Add group")
       .ToggleGroup("Group1")
    )
    @(X.HyperlinkButton()
       .Icon(Icon.GroupDelete)
       .Text("Delete  group")
       .ToggleGroup("Group1")
    )
    @(X.HyperlinkButton()
       .Icon(Icon.GroupEdit)
       .Text("Edit group")
       .ToggleGroup("Group1")
    )
}