@{
    Layout = null;
    var enVer = Ext.Net.MVC.Examples.ExtNetVersion.Full;
}

<!DOCTYPE html>

<html>
<head>
    <title>Ext.NET MVC Examples Explorer</title>
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css?" + enVer)" />

    <script>
        Ext.onReady(function () {
            if (top !== self) {
                Ext.select("a", true).on("click", function (e, el) {
                    if (!Ext.fly(el).hasCls("exclude")) {
                        parent.location = el.href;
                    }
                }, null, { preventDefault: true });
            }
        });
    </script>
</head>
<body class="welcome">
    @Html.X().ResourceManager().Theme(Theme.Triton)

    @(Html.X().Container()
        .Content(
            @<text>
                <div class="container">
                    <div class="extnet-notification">
                        <div class="notification-container">
                            <div class="notification-img">
                                <img src="@Url.Content("~/resources/images/extnet-mobile-final.svg")">
                            </div>
                            <div class="notification-text">
                                The official release of <strong>Ext.NET Mobile</strong> is now available. Ext.NET Mobile is an ASP.NET component framework for building Phone and Tablet specific mobile web applications. <a href="https://ext.net/ext-net-mobile-final-now-available/">Read More</a>
                            </div>
                        </div>
                    </div>

                    <h1>BUILD ASP.NET MVC APPLICATIONS FASTER <span>WITH <span class="blue">100+ COMPONENTS AND 750+ EXAMPLES</span></span></h1>
                    <div class="welcome-cards">

                        <div class="welcome-card">
                            <div class="welcome-card-icon">
                                <img src="@Url.Content("~/resources/icons/docs.svg")" />
                            </div>
                            <div class="welcome-card-title">Getting Started</div>
                            <div class="welcome-card-body">
                                <p>
                                    <a href="https://ext.net/#learn">Ext.NET Web Application Development</a> makes learning Ext.NET easier than ever.
                                    Pick up a copy and start building ASP.NET applications.
                                </p>
                            </div>
                        </div>

                        <div class="welcome-card">
                            <div class="welcome-card-icon">
                                <img src="@Url.Content("~/resources/icons/support.svg")" />
                            </div>
                            <div class="welcome-card-title">Support</div>
                            <div class="welcome-card-body">
                                <p>
                                    We are proud to have a large <a href="https://forums.ext.net/">developer community</a> for exchanging information as well
                                    as <a href="https://ext.net/store/#benefits">Premium Support</a> with a maximum 24h response time.
                                </p>
                            </div>
                        </div>

                        <div class="welcome-card">
                            <div class="welcome-card-icon">
                                <img src="@Url.Content("~/resources/icons/download.svg")" />
                            </div>
                            <div class="welcome-card-title">Download</div>
                            <div class="welcome-card-body">
                                <p>
                                    You can <a href="https://ext.net/download/">download</a> Ext.NET and start testing it locally right away. In order to deploy and use it
                                    for commercial projects, you will need to <a href="https://ext.net/store/">get a license</a>.
                                </p>
                            </div>
                        </div>

                    </div>

                    <h2>Popular Examples</h2>

                    <ul class="popular-links">
                        <li><a href="/#/Events/DirectMethod/">Events</a></li>
                        <li><a href="/#/Portal/Complex/">Portal</a></li>
                        <li><a href="/#/Models/FormPanelFor/">Models</a></li>
                        <li><a href="/#/Chart_Area/Basic/">Chart</a></li>
                    </ul>

                </div>
            </text>
        )
    )
</body>
</html>
