@{
    ViewBag.Title = "ClickRepeater - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();
}

@section headtag
{
    <style>
        .pressedTd {
            background-color : Silver;
        }
    </style>
}

@section example
{
    <h1>ClickRepeater</h1>

    <h2>Simple Spinner</h2>

    <p>"Click" or "Click and Hold"</p>

    <table border="1">
        <tr>
            <td id="minusTd" style="width:50px;height:50px;text-align:center;cursor:pointer;">
                @X.Label().Icon(Icon.Delete)
            </td>
            <td style="width:100px;text-align:center;">
                @X.Label().ID("ValueLabel").Text("0")
            </td>
            <td id="plusTd" style="width:50px;height:50px;text-align:center;cursor:pointer;">
                @X.Label().Icon(Icon.Add)
            </td>
        </tr>
    </table>

    @(X.ClickRepeater()
        .Target("minusTd")
        .PressedCls("pressedTd")
        .Listeners(l => l.Click.Handler = "#{ValueLabel}.setText((parseInt(#{ValueLabel}.getText(), 10) - 1).toString());")
    )

    @(X.ClickRepeater()
        .Target("plusTd")
        .PressedCls("pressedTd")
        .Listeners(l => l.Click.Handler = "#{ValueLabel}.setText((parseInt(#{ValueLabel}.getText(), 10) + 1).toString());")
    )

    <br />

    <h2>LeftClick and RightClick Listeners</h2>

    <div id="clickDiv" style="border: solid 1px black; cursor:pointer;text-align:center;width:210px;">
        @X.Label().ID("ValueLabel1").Text("0")
        <br />
        <p>Right Click : Increase Value</p>
        <p>Left Click  : Decrease Value</p>
    </div>

    @(X.ClickRepeater()
        .Target("clickDiv")
        .PreventDefault(true)
        .StopDefault(true)
        .PressedCls("pressedTd")
        .Listeners(l => {
            l.LeftClick.Handler = "#{ValueLabel1}.setText((parseInt(#{ValueLabel1}.getText(), 10) - 1).toString());";
            l.RightClick.Handler = "#{ValueLabel1}.setText((parseInt(#{ValueLabel1}.getText(), 10) + 1).toString());";
        })
    )
}